<!-- views/partials/header.ejs -->
<header>
    <nav class="navbar">
        <div class="container">
            <a href="/" class="logo">FacturasApp</a>
            <ul class="nav-links">
                <li><a href="/">Inicio</a></li>
                <li><a href="/consulta">Consultar Facturas</a></li>
                <li><a href="/configuracion">Configuración</a></li>
            </ul>
        </div>
    </nav>
</header>

